In [ ]:
# Assignment 5, Part 1:  Construct a CSV with the first eight elements of the periodic table of elements.
# Include columns containing name, symbol, and atomic number.  Read that into a pandas DataFrame.  Inside
# the program add a nineth and tenth element then add a column with the atomic weights rounded to the nearest
# integer.

In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
header = ['Name', 'Symbol', 'Atomic number (u)']
elems = [['Hydrogen', 'H', 1.0078], ['Helium', 'He', 4.0026], ['Lithium', 'Li', 6.9410],
         ['Beryllium', 'Be', 9.0122], ['Boron', 'B', 10.811], ['Carbon', 'C', 12.011],
         ['Nitrogen', 'N', 14.007], ['Oxygen', 'O', 15.999]]

with open('elements.csv', 'w', encoding='UTF8', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)
    writer.writerows(elems)

df = pd.read_csv('elements.csv')
print('Original DataFrame')
print(df)

Original DataFrame
        Name Symbol  Atomic number (u)
0   Hydrogen      H             1.0078
1     Helium     He             4.0026
2    Lithium     Li             6.9410
3  Beryllium     Be             9.0122
4      Boron      B            10.8110
5     Carbon      C            12.0110
6   Nitrogen      N            14.0070
7     Oxygen      O            15.9990

In [4]:
df.loc[len(df.index)] = ['Fluorine', 'F', 18.998]
df.loc[len(df.index)] = ['Neon', 'Ne', 20.180]
print('\n New Data Frame')
print(df)

 New Data Frame
        Name Symbol  Atomic number (u)
0   Hydrogen      H             1.0078
1     Helium     He             4.0026
2    Lithium     Li             6.9410
3  Beryllium     Be             9.0122
4      Boron      B            10.8110
5     Carbon      C            12.0110
6   Nitrogen      N            14.0070
7     Oxygen      O            15.9990
8   Fluorine      F            18.9980
9       Neon     Ne            20.1800

In [5]:
df['Atomic (Round)'] = df['Atomic number (u)'].apply(np.ceil)
df["Atomic (Round)"] = df["Atomic (Round)"].astype(float).astype(int)
print('\n New Data Frame with a New Column')
print(df)

 New Data Frame with a New Column
        Name Symbol  Atomic number (u)  Atomic (Round)
0   Hydrogen      H             1.0078               2
1     Helium     He             4.0026               5
2    Lithium     Li             6.9410               7
3  Beryllium     Be             9.0122              10
4      Boron      B            10.8110              11
5     Carbon      C            12.0110              13
6   Nitrogen      N            14.0070              15
7     Oxygen      O            15.9990              16
8   Fluorine      F            18.9980              19
9       Neon     Ne            20.1800              21

In [ ]:
# Assignment 5, Part 2:  Make a list of strings for nine Greek letters, ‘alpha’, for example.
# Make that list such that they are not in alphabetic order.  Make two 9-element numpy arrays
# of random floating-point numbers with the estimated mean 10 and standard deviation 1.5.
# Make another array of nine elements ranging from zero to two times pi.  Name it ‘angle’.
# Make another array holding the cosine of that ‘angle’ array.  Construct a dictionary from all
# of the above.  Form a DataFrame from that dictionary and print it out.  Sort the DataFrame
# ascending on the Greek letters, drop two columns of your choice, drop one of the rows, and
# print that out.

In [6]:
greekLetters =['Omicron', 'Phi', 'Beta', 'Theta', 'Xi', 'Epsilon', 'Omega', 'Tau', 'Lambda']
np.random.seed(123456)

my_std = 1.5
my_mean = 10
array2 = my_std * np.random.randn(9) + my_mean
array3 = my_std * np.random.randn(9) + my_mean
angle = np.linspace(0, 2 * np.pi, 9)
cosAngle = np.cos(angle)
arrayDict = dict(zip(["greekLetters", "array2", "array3", "angle", "cosAngle"],
                     [greekLetters, array2, array3, angle, cosAngle]))

df = pd.DataFrame(arrayDict)
print(df)

df.sort_values(by=['greekLetters'], inplace=True)
df = df.drop(df.columns[[1, 2]], axis=1)
df = df.drop(7)

print('\n Dataframe after sorting, dropping two columns, removing 1 row')
print(df)

  greekLetters     array2     array3     angle      cosAngle
0      Omicron  10.703668   6.843146  0.000000  1.000000e+00
1          Phi   9.575705   9.257606  0.785398  7.071068e-01
2         Beta   7.736412  11.607706  1.570796  6.123234e-17
3        Theta   8.296551  11.082333  2.356194 -7.071068e-01
4           Xi  11.818168   8.939843  3.141593 -1.000000e+00
5      Epsilon   9.740178   8.440638  3.926991 -7.071068e-01
6        Omega  10.178813  10.407790  4.712389 -1.836970e-16
7          Tau   8.433646   9.362542  5.497787  7.071068e-01
8       Lambda   8.707227  10.850531  6.283185  1.000000e+00

 Dataframe after sorting, dropping two columns, removing 1 row
  greekLetters     angle      cosAngle
2         Beta  1.570796  6.123234e-17
5      Epsilon  3.926991 -7.071068e-01
8       Lambda  6.283185  1.000000e+00
6        Omega  4.712389 -1.836970e-16
0      Omicron  0.000000  1.000000e+00
1          Phi  0.785398  7.071068e-01
3        Theta  2.356194 -7.071068e-01
4           Xi  3.141593 -1.000000e+00

In [ ]:
# Assignment 5, Part 3:  Write a program in Python to create and print out the first twelve Fibonacci numbers.
# Then iterate over the last five numbers to build another list with the ratio of each number to its predecessor.
# What do you observe about this latter list?

In [7]:
def fibonacci(n):
    if n in {0, 1}:
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)

listOfFib = [fibonacci(n) for n in range(12)]
print(listOfFib)

differences = np.diff(listOfFib)
print(differences)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[ 1  0  1  1  2  3  5  8 13 21 34]

In [ ]:
#You will notice that the difference between two numbers in a Fibonacci sequence is equal to the previous value in the
# Fibonacci sequence. For example, the 11th number in the sequence is 55. The difference between the 11th number and
# the 12th number (|55 - 89|) is equal to the value in the 10th position (34). You will notice that the difference
# between two numbers in a Fibonacci sequence is equal to the previous value in the Fibonacci sequence. For example,
# the 11th number in the sequence is 55. The difference between the 11th number and the 12th number (|55 - 89|) is
# equal to the value in the 10th position (34).

In [ ]:
# Assignment 5, Part 4:  Provide a function that converts temperature in Kelvin to Rankine.  Make a list of
# five Kelvin temperatures and print out their values in Rankine.  Repeat using a lambda function.

In [8]:
from scipy.constants import convert_temperature

def kelvinToRankine(list):
    return convert_temperature(np.array(list), 'Kelvin', 'Rankine')

print(kelvinToRankine([-10.5, 50.125, 100.25, 250.5, 325.75]))

[-18.9    90.225 180.45  450.9   586.35 ]

In [ ]:
# Assignment 5, Part 5:  Construct a Pandas dataframe with two columns of 100 random numbers drawn from a normal
# (Gaussian) distribution.  Divide the DF into two with a 75-25 split at random.  Reset the indices of each new DF.
# Print the first 12 lines of each.  Compute the mean and standard deviation of each column of each new DF.

In [22]:
import numpy as np
import pandas as pd

np.random.seed(123456)
df = pd.DataFrame(dict(col1 = np.random.normal(size=100),col2 = np.random.normal(size=100)))
# print(df)

part_75 = df.sample(frac = 0.75)
part_75 = part_75.reset_index()
part_25 = df.drop(part_75.index)
part_25 = part_25.reset_index()
print("75 split")
print(part_75.head(12))
print('\n25 split')
print(part_25.head(12))

mean1 = part_75["col1"].mean()
mean2 = part_75['col2'].mean()
mean3 = part_25["col1"].mean()
mean4 = part_25['col2'].mean()
std1 = part_75["col1"].std()
std2 = part_75["col2"].std()
std3 = part_25["col1"].std()
std4 = part_25["col2"].std()

print('\nThe mean and standard deviation of col1 of 75 split dataframe is: ' + str(mean1) + ' +- ' + str(std1))
print('\nThe mean and standard deviation of col2 of 75 split dataframe is: ' + str(mean2) + ' +- ' + str(std2))
print('\nThe mean and standard deviation of col1 of 25 split dataframe is: ' + str(mean3) + ' +- ' + str(std3))
print('\nThe mean and standard deviation of col2 of 25 split dataframe is: ' + str(mean4) + ' +- ' + str(std4))

75 split
    index      col1      col2
0      95 -1.369849  0.227371
1      13 -0.706771  0.380396
2      99 -0.826591 -1.134623
3      77  0.769804 -0.858447
4      20 -0.673690  0.132885
5      41  0.413738 -0.489682
6      79 -0.727707 -0.028665
7      78 -1.281247  0.306996
8      88 -0.732339  0.650776
9      54 -1.170299 -1.071357
10     33 -0.109050 -0.025747
11     66  1.024180 -1.328865

25 split
    index      col1      col2
0      75 -1.219217 -1.066969
1      76 -1.226825 -0.303421
2      77  0.769804 -0.858447
3      78 -1.281247  0.306996
4      79 -0.727707 -0.028665
5      80 -0.121306  0.384316
6      81 -0.097883  1.574159
7      82  0.695775  1.588931
8      83  0.341734  0.476720
9      84  0.959726  0.473424
10     85 -1.110336 -0.242861
11     86 -0.619976 -0.014805

The mean and standard deviation of col1 of 75 split dataframe is: -0.3353834076179121 +- 0.9070314543527567

The mean and standard deviation of col2 of 75 split dataframe is: 0.0921668575645549 +- 1.0882900174461438

The mean and standard deviation of col1 of 25 split dataframe is: -0.33667431312206203 +- 0.9315245727119774

The mean and standard deviation of col2 of 25 split dataframe is: -0.11357198215121173 +- 0.9651754604943913

In [ ]:
# Assignment 5, Part 6:  Load the Titanic dataset (a Seaborn built-in) into a DF.  Compute the survival rate for
# each passenger class based on sex.  Use the cut method to create three bins to hold the passenger ages in
# catagorical form.  Hint: use [0,18,25,99] and ['kid','young_adult','adult'].

In [58]:
import seaborn as sns
titanic = sns. load_dataset('titanic')
# print(titanic.head())

survivor_count = titanic['survived'].sum()

def get_counts(dataframe, factor, quality, status):
    target = dataframe[factor].where(dataframe[factor] == quality)
    class_count = target.where(dataframe['survived'] == status).count()
    return class_count

female_survival_count = get_counts(titanic, 'sex', 'female', 1)
male_survival_count = get_counts(titanic, 'sex', 'male', 1)

female_survival_rate = female_survival_count/survivor_count * 100
male_survival_rate = male_survival_count/survivor_count * 100

print('Female Survival Rate: ' + str(round(female_survival_rate, 2)))
print('Male Survival Rate: ' + str(round(male_survival_rate, 2)) + '\n')

titanic['bins'] = pd.cut(x=titanic['age'], bins=[0,18,25,99],  labels=['kid','young_adult','adult'])
print(titanic.head(10))
print(titanic['bins'].unique())

Female Survival Rate: 68.13
Male Survival Rate: 31.87

   survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0         0       3    male  22.0      1      0   7.2500        S   Third
1         1       1  female  38.0      1      0  71.2833        C   First
2         1       3  female  26.0      0      0   7.9250        S   Third
3         1       1  female  35.0      1      0  53.1000        S   First
4         0       3    male  35.0      0      0   8.0500        S   Third
5         0       3    male   NaN      0      0   8.4583        Q   Third
6         0       1    male  54.0      0      0  51.8625        S   First
7         0       3    male   2.0      3      1  21.0750        S   Third
8         1       3  female  27.0      0      2  11.1333        S   Third
9         1       2  female  14.0      1      0  30.0708        C  Second

     who  adult_male deck  embark_town alive  alone         bins
0    man        True  NaN  Southampton    no  False  young_adult
1  woman       False    C    Cherbourg   yes  False        adult
2  woman       False  NaN  Southampton   yes   True        adult
3  woman       False    C  Southampton   yes  False        adult
4    man        True  NaN  Southampton    no   True        adult
5    man        True  NaN   Queenstown    no   True          NaN
6    man        True    E  Southampton    no   True        adult
7  child       False  NaN  Southampton    no  False          kid
8  woman       False  NaN  Southampton   yes  False        adult
9  child       False  NaN    Cherbourg   yes  False          kid
['young_adult', 'adult', NaN, 'kid']
Categories (3, object): ['kid' < 'young_adult' < 'adult']